/* .App {
  text-align: center;
} */

/*  */
/* src/App.css */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.banner {
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  background: url('./banner.jpeg') no-repeat center center fixed; /* Adjust the path as needed */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content {
  background: rgba(255, 255, 255, 0.8); /* Optional: Adds a semi-transparent background to the content */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.content h1 {
  color: black;
}

.content p {
  font-size: 16px;
  line-height: 1.6;
  color: black;
}

.product{
  margin-top:-15%;
  padding: 10%;
}
.product-info{
  padding: 30px;
  background-color: #eeeeee;
  box-shadow: 10px 10px 5px lightblue;
  border-radius: 25px;
  height: 320px;
}
.product .row
{
  margin-top: 10%;
}
.product-img 
{
  text-align: center;
}
.product-img img{
  width: 40%;
  height: 40%;
}

.Achievements {
  display: flex;
  gap: 20px; /* Adjust the gap between logo items if needed */
  margin-top: 5%;
}

.logo-item {
  flex: 1; /* Ensure all logo items take up the same amount of space */
  text-align: center; /* Center the text and images */
  padding: 20px; /* Add padding for some spacing inside the boxes */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* Set a fixed height */
  width: 200px; /* Set a fixed width */
}

.logo-image {
 
  max-width: 100%; /* Ensure the image doesn't overflow */
  max-height: 100%; /* Ensure the image doesn't overflow */
  margin-bottom: 10px; /* Add some space between the image and the text */
}
